body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */

.navbar {
    /* gets rid of the margin at the bottom and positions the navbar over the callout so you still get the effect of the full screen picture */
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    background-color: transparent;
    border: 0;
}

.navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar-default .navbar-toggle {
    border: 0;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.navbar .navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar .navbar-brand:hover {
    color: white;
}

.navbar-default .navbar-nav a {
    font-weight: bold;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
}

.navbar-btn {
    border: 0;
    border-radius: 16px;
    width: 100px;
    background-color: #920c0c;
    color: #fff;
}

.navbar-btn:hover {
    background-color: #6b0909;
    border-color: #6b0909;
    color: #f2f2f2;
}

/* containers */

.container-wrapper--red {
    background-color: #920c0c;
    color: #f2f2f2;
}

.callout-container {
    height: 100vh;
    /* height is 100% of the viewport */
    /* below code copied and pasted from full-width background images website *edit bg url*;
   also need to include ../ prefix in front of image url name to ensure it directs back to root directory,  as we are currently in css directory*/
    background: url(../image/whiskey-bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* this is to position the container in the center of the viewport ***RESEARCH FLEXBOX*** */
    display: flex;
    align-items: center; /* This is for the vertical centering */
    justify-content: center; /* This is for the horizontal centering */
    position: relative;
}

.opaque-overlay
/* these are the styling properties for the overlay - MAKE SURE POSITION IS ABSOLUTE SO IT SITS ABOVE THE IMAGE */

    {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

/* This makes the background color of the callout area transparent */

.jumbotron {
    background-color: transparent;
}

.jumbotron h1 {
    /* if creating a class for h1, it won't work, as this is to do with specificity
                linking to the actual element within .jumbotron will override it */
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron .lead {
    color: #a7a7a7;
    margin: 25px 0;
}

.jumbotron small {
    font-size: 60%;
    font-style: italic;
    color: #d0d0d0;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

/* Block dividers */

.block-divider {
    width: 50px;
    height: 5px;
    border: 0;
    background-color: #000;
}

.block-divider--white {
    background-color: #d0d0d057;
}

.block-divider--short {
    width: 40px;
    height: 2px;
}

.block-divider--white {
    background-color: #f2f2f2;
}

/* Buttons */

.btn--cta
/* call to action */

    {
    font-weight: bold;
    border-radius: 23px;
    width: 160px;
}

.btn--green {
    background-color: #920c0c;
    border-color: #920c0c;
    color: #fff;
}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
    /* makes the btn go slightly darker when hovering, clicking, etc. */
    background-color: #6b0909;
    border-color: #6b0909;
    color: #f2f2f2;
}

/* Alert */

.alert-container .col-xs-12 {
    padding-left: 0;
    padding-right: 0;
}

.site-wide-alert {
    padding: 5px 15px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 0px;
    color: #927616;
    background-color: #e2b723;
    border-color: #e2b723;
}

/* Page headers */

.page-header {
    text-align: center;
    margin-bottom: 0;
    border-bottom: 0;
}

.page-header h2 {
    margin-top: 0;
}

/* Quotes */

.quotes .page-header {
    margin-bottom: 25px;
}

blockquote .quote {
    border-left: 0;
}

blockquote p {
    font-style: italic;
}

/* Features */

.feature {
    text-align: center;
    margin-bottom: 40px;
}

.feature .glyphicon {
    display: block;
    margin-bottom: 20px;
    font-size: 35px;
    line-height: 35px;
}

.feature .btn {
    background-color: #fff;
    border-color: #fff;
    border-radius: 15px;
    margin-top: 10px;
    min-width: 100px;
    font-weight: bold;
    color: #920c0c
}
